<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.chenlijia1111.generalModule.dao.SystemConfigMapper">
  <resultMap id="BaseResultMap" type="com.github.chenlijia1111.generalModule.entity.SystemConfig">
    <id column="system_key" jdbcType="VARCHAR" property="systemKey" />
    <result column="system_value" jdbcType="VARCHAR" property="systemValue" />
  </resultMap>
  <sql id="Base_Column_List">
    system_key, system_value
  </sql>
</mapper>
