<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.chenlijia1111.commonModule.dao.CategoryAncestorMapper">
  <resultMap id="BaseResultMap" type="com.github.chenlijia1111.commonModule.entity.CategoryAncestor">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="ancestor_id" jdbcType="INTEGER" property="ancestorId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, category_id, ancestor_id, create_time
  </sql>

  <delete id="deleteRelation">
    DELETE FROM s_category_ancestor WHERE (category_id = #{categoryId} OR ancestor_id = #{categoryId})
  </delete>
</mapper>
