<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.chenlijia1111.commonModule.dao.EvaluationLabelMapper">
  <resultMap id="BaseResultMap" type="com.github.chenlijia1111.commonModule.entity.EvaluationLabel">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="evalua_id" jdbcType="VARCHAR" property="evaluaId" />
    <result column="label_name" jdbcType="VARCHAR" property="labelName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, evalua_id, label_name
  </sql>
  <select id="batchAdd" resultType="java.lang.Integer">
    INSERT INTO s_evaluation_label (id,evalua_id,label_name) VALUES
    <foreach collection="labelList" item="label" separator=",">
      (#{label.id},#{label.evaluaId},#{label.labelName})
    </foreach>
  </select>
  <select id="listLabelCountVo"
          resultType="com.github.chenlijia1111.commonModule.common.responseVo.evaluation.LabelCountVo">
    SELECT
    s_evaluation_label.label_name labelName,COUNT(s_evaluation_label.id) count
    FROM s_evaluation_label,s_evaluation
    WHERE s_evaluation_label.evalua_id = s_evaluation.id
    AND s_evaluation.product_id = #{productId}
    GROUP BY s_evaluation_label.label_name
  </select>
</mapper>
