<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.chenlijia1111.commonModule.dao.EvaluationMapper">
  <resultMap id="BaseResultMap" type="com.github.chenlijia1111.commonModule.entity.Evaluation">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="client_id" jdbcType="VARCHAR" property="clientId" />
    <result column="shop_id" jdbcType="VARCHAR" property="shopId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="good_id" jdbcType="VARCHAR" property="goodId" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="images" jdbcType="VARCHAR" property="images" />
    <result column="product_level" jdbcType="DOUBLE" property="productLevel" />
    <result column="shop_level" jdbcType="DOUBLE" property="shopLevel" />
    <result column="service_level" jdbcType="DOUBLE" property="serviceLevel" />
    <result column="express_level" jdbcType="DOUBLE" property="expressLevel" />
    <result column="parent_evalua" jdbcType="VARCHAR" property="parentEvalua" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, client_id, shop_id, order_no, good_id, product_id, comment, images, product_level,
    shop_level, service_level, express_level, parent_evalua, create_time, delete_status
  </sql>
  <select id="listByOrderNoSet" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List"></include>
    FROM s_evaluation
    <foreach collection="orderNoSet" item="orderNo" open="WHERE s_evaluation.order_no IN (" close=")" separator=",">
      #{orderNo}
    </foreach>
  </select>
    <select id="listPage" parameterType="com.github.chenlijia1111.commonModule.common.requestVo.evaluation.QueryParams"
            resultType="com.github.chenlijia1111.commonModule.common.responseVo.evaluate.EvaluateListVo">
      SELECT
      id, client_id clientId, shop_id shopId, order_no orderNo, good_id goodId, product_id productId, comment comment, images images,
      product_level productLevel, shop_level shopLevel, service_level serviceLevel, express_level expressLevel, parent_evalua parentEvalua,
      create_time createTime
      FROM s_evaluation
      WHERE s_evaluation.delete_status = 0
      <if test="productId != null and productId != ''">
        AND s_evaluation.product_id = #{productId}
      </if>
      <if test="labelName != null and labelName != ''">
        AND exists(
            SELECT s_evaluation_label.id FROM s_evaluation_label
            WHERE s_evaluation_label.evalua_id = s_evaluation.id
            AND s_evaluation_label.label_name = #{labelName}
        )
      </if>
      <if test="imageStatus != null">
        <if test="imageStatus == 0">
          AND (s_evaluation.images IS NULL OR s_evaluation.images = '' OR s_evaluation.images = '[]')
        </if>
        <if test="imageStatus == 1">
          AND s_evaluation.images IS NOT NULL AND s_evaluation.images != '' AND s_evaluation.images != '[]'
        </if>
      </if>
      ORDER BY s_evaluation.create_time DESC
    </select>
</mapper>
