<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.chenlijia1111.commonModule.dao.ProductSpecValueMapper">
  <resultMap id="BaseResultMap" type="com.github.chenlijia1111.commonModule.entity.ProductSpecValue">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_spec_id" jdbcType="INTEGER" property="productSpecId" />
    <result column="spec_value_image" jdbcType="VARCHAR" property="specValueImage" />
    <result column="spec_value" jdbcType="VARCHAR" property="specValue" />
  </resultMap>
  <sql id="Base_Column_List">
    id, product_spec_id, spec_value_image, spec_value
  </sql>
  <insert id="batchAdd" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    INSERT INTO s_product_spec_value (product_spec_id, spec_value_image, spec_value) VALUES
    <foreach collection="list" item="item" separator=",">
      (#{item.productSpecId}, #{item.specValueImage}, #{item.specValue})
    </foreach>
  </insert>
  <delete id="deleteBySpecIdSet">
    DELETE
    FROM s_product_spec_value
    WHERE 1=1
    <foreach collection="specIdSet" item="specId" open="AND product_spec_id IN (" close=")" separator=",">
      #{specId}
    </foreach>
  </delete>
  <select id="listBySpecIdSet" resultMap="BaseResultMap">
    SELECT
    s_product_spec_value.id, product_spec_id, spec_value_image, spec_value
    FROM
    s_product_spec_value
    WHERE 1=1
    <foreach collection="specIdSet" item="specId" open="AND product_spec_id IN (" close=")" separator=",">
      #{specId}
    </foreach>
  </select>

  <select id="listProductSpecValueNameWrapperVo"
            resultType="com.github.chenlijia1111.commonModule.common.responseVo.product.ProductSpecValueNameWrapperVo">
    SELECT
    s_product_spec_value.id productSpecValueId,s_product_spec_value.spec_value productSpecValue,
    s_product_spec_value.spec_value_image productSpecImageValue,
    s_product_spec.id productSpecId,s_product_spec.spec_name productSpecName,s_product.id productId,
    s_product.name productName
    FROM s_product_spec_value,
      s_product_spec,s_product
    WHERE s_product_spec_value.product_spec_id = s_product_spec.id
    AND s_product_spec.product_id = s_product.id
    <foreach collection="productIdSet" item="productId" open="AND s_product.id IN (" close=")" separator=",">
      #{productId}
    </foreach>
  </select>
</mapper>
