<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.chenlijia1111.commonModule.dao.ReceivingGoodsOrderMapper">
  <resultMap id="BaseResultMap" type="com.github.chenlijia1111.commonModule.entity.ReceivingGoodsOrder">
    <id column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="custom" jdbcType="VARCHAR" property="custom" />
    <result column="shops" jdbcType="VARCHAR" property="shops" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="shopping_order" jdbcType="VARCHAR" property="shoppingOrder" />
    <result column="immediate_payment_order" jdbcType="VARCHAR" property="immediatePaymentOrder" />
    <result column="receive_time" jdbcType="TIMESTAMP" property="receiveTime" />
    <result column="rec_user" jdbcType="VARCHAR" property="recUser" />
    <result column="front_order" jdbcType="VARCHAR" property="frontOrder" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    order_no, custom, shops, state, shopping_order, immediate_payment_order, receive_time, 
    rec_user, front_order, create_time
  </sql>
  <select id="listByFrontOrderNoSet" resultMap="BaseResultMap">
    SELECT
    order_no, custom, shops, state, shopping_order, immediate_payment_order, receive_time, rec_user, front_order, create_time
    FROM
    s_receiving_goods_order
    <foreach collection="frontOrderNoSet" item="frontOrderNo" open="WHERE front_order IN (" close=")" separator=",">
      #{frontOrderNo}
    </foreach>
  </select>
  <select id="maxOrderNo" resultType="java.lang.String">
    SELECT s_receiving_goods_order.order_no
    FROM s_receiving_goods_order
    ORDER BY s_receiving_goods_order.create_time DESC,s_receiving_goods_order.order_no DESC
    LIMIT 1
  </select>
  <insert id="batchAdd">
    INSERT INTO s_receiving_goods_order (order_no, custom, shops, state, shopping_order, immediate_payment_order,
                                         receive_time, rec_user, front_order, create_time) VALUES
    <foreach collection="receivingGoodsOrderList" item="receivingGoodsOrder" separator=",">
      (#{receivingGoodsOrder.orderNo},#{receivingGoodsOrder.custom},#{receivingGoodsOrder.shops},
       #{receivingGoodsOrder.state},#{receivingGoodsOrder.shoppingOrder},#{receivingGoodsOrder.immediatePaymentOrder},
       #{receivingGoodsOrder.receiveTime},#{receivingGoodsOrder.recUser},#{receivingGoodsOrder.frontOrder},
       #{receivingGoodsOrder.createTime})
    </foreach>
  </insert>
  <select id="findReceiveOrderByOrderNo" resultMap="BaseResultMap">
    SELECT
    s_receiving_goods_order.order_no, s_receiving_goods_order.custom, s_receiving_goods_order.shops,
    s_receiving_goods_order.state, s_receiving_goods_order.shopping_order,
    s_receiving_goods_order.immediate_payment_order, s_receiving_goods_order.receive_time,
    s_receiving_goods_order.rec_user, s_receiving_goods_order.front_order,
    s_receiving_goods_order.create_time
    FROM s_receiving_goods_order,s_immediate_payment_order
    WHERE s_receiving_goods_order.front_order = s_immediate_payment_order.order_no
      AND s_immediate_payment_order.front_order = #{orderNo}
    LIMIT 1
  </select>
</mapper>
