<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.chenlijia1111.commonModule.dao.ShoppingOrderMapper">
  <resultMap id="BaseResultMap" type="com.github.chenlijia1111.commonModule.entity.ShoppingOrder">
    <id column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="custom" jdbcType="VARCHAR" property="custom" />
    <result column="shops" jdbcType="VARCHAR" property="shops" />
    <result column="goods_id" jdbcType="VARCHAR" property="goodsId" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="order_type" jdbcType="INTEGER" property="orderType" />
    <result column="product_amount_total" jdbcType="DOUBLE" property="productAmountTotal" />
    <result column="pay_channel" jdbcType="VARCHAR" property="payChannel" />
    <result column="pay_record" jdbcType="VARCHAR" property="payRecord" />
    <result column="transaction_id" jdbcType="VARCHAR" property="transactionId" />
    <result column="good_price" jdbcType="DOUBLE" property="goodPrice" />
    <result column="order_amount_total" jdbcType="DOUBLE" property="orderAmountTotal" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="details_json" jdbcType="VARCHAR" property="detailsJson" />
    <result column="shop_group_id" jdbcType="VARCHAR" property="shopGroupId" />
    <result column="group_id" jdbcType="VARCHAR" property="groupId" />
    <result column="payable" jdbcType="DOUBLE" property="payable" />
    <result column="order_coupon" jdbcType="VARCHAR" property="orderCoupon" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="shop_remarks" jdbcType="VARCHAR" property="shopRemarks" />
    <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    order_no, custom, shops, goods_id, count, state, order_type,
           product_amount_total, pay_channel, pay_record, transaction_id,
           good_price, order_amount_total, pay_time, details_json, shop_group_id,
           group_id, payable, order_coupon, create_time, remarks, shop_remarks, delete_status
  </sql>
  <select id="listByGroupIdSet" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"></include>
    FROM
    s_shopping_order
    <foreach collection="groupIdSet" item="groupId" open="WHERE group_id IN (" close=")" separator=",">
      #{groupId}
    </foreach>
  </select>
  <select id="listByOrderNoSet" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"></include>
    FROM
    s_shopping_order
    <foreach collection="orderNoSet" item="orderNo" open="WHERE order_no IN (" close=")" separator=",">
      #{orderNo}
    </foreach>
  </select>
  <select id="listByShopGroupIdSet" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"></include>
    FROM
    s_shopping_order
    <foreach collection="shopGroupIdSet" item="shopGroupId" open="WHERE shop_group_id IN (" close=")" separator=",">
      #{shopGroupId}
    </foreach>
  </select>
  <select id="maxOrderNo" resultType="java.lang.String">
    SELECT s_shopping_order.order_no
    FROM s_shopping_order
    ORDER BY s_shopping_order.create_time DESC
    LIMIT 1
  </select>
  <select id="maxGroupId" resultType="java.lang.String">
    SELECT s_shopping_order.group_id
    FROM s_shopping_order
    ORDER BY s_shopping_order.create_time DESC
    LIMIT 1
  </select>
  <select id="maxShopGroupId" resultType="java.lang.String">
    SELECT s_shopping_order.shop_group_id
    FROM s_shopping_order
    ORDER BY s_shopping_order.create_time DESC
    LIMIT 1
  </select>
</mapper>
